.section {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 39px 0px;
}

.section__header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border-bottom: 3px solid #eee;
  padding: 20px;
}

.section__subtitle {
  font-weight: 400;
  font-size: medium;
  margin: 0px;
}

.section__title {
  margin: 0px;
  font-size: 20px;
  flex-grow: 1;
}

.section__body {
  padding: 20px;
}