.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form__input {
  border: 2px solid #eee;
  padding: 10px;
  flex-basis: 80%;
  transition: 100ms;
}

.form__button {
  background-color: teal;
  color: white;
  border: none;
  transition: 200ms;
  padding: 10px;
}

.form__button:hover {
  transition: 200ms;
  background-color: hsl(180, 100%, 30%);
}

@media (max-width: 900px) {
  .form__input {
    flex-basis: 100%;
    margin-bottom: 10px;
  }

  .form__button {
    flex-basis: 100%;
  }
}
