.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.list__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  padding: 10px;
  border-bottom: 2px solid #eee;
}

.list__item--hidden {
  display: none;
}

.list__item--done {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}

.task__item {
  flex-grow: 1;
  padding: 0px;
  word-break: break-all;
}

.task__checkButton {
  background-color: green;
  color: green;
  border: none;
  width: 30px;
  height: 30px;
  transition: 200ms;
  flex-shrink: 0;
}

.task__checkButton:hover {
  transition: 200ms;
  background-color: hsl(120, 100%, 30%);
}

.task__checkButton--true {
  color: white;
}

.task__removeButton {
  background-color: hsl(0, 100%, 45%);
  color: white;
  border: none;
  width: 30px;
  height: 30px;
  transition: 200ms;
  flex-shrink: 0;
}

.task__removeButton:hover {
  transition: 200ms;
  background-color: hsl(0, 100%, 65%);
}
