.buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

.buttons__button {
  background-color: transparent;
  color: teal;
  border: none;
  transition: 100ms;
  font-weight: 600;
}

.buttons__button:hover {
  color: hsl(180, 100%, 30%);
  transition: 100ms;
}

.buttons__button:disabled {
  color: grey;
}

@media (max-width: 767px) {
  .buttons {
    flex-direction: column;
    flex-basis: 100%;
  }
  .buttons__button {
    margin-top: 20px;
  }
}