.buttons {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 20px;
}

.buttons__button {
  background-color: transparent;
  color: teal;
  border: none;
  transition: 100ms;
}

.buttons__button:hover {
  color: hsl(180, 100%, 30%);
  transition: 100ms;
}

.buttons__button:disabled {
  color: grey;
}

@media (max-width: 900px) {
  .buttons {
    flex-basis: 100%;
    margin-top: 20px;
  }
}